<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Superhero Sightings</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    
    <div class="container">
        <!-- Page header -->
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1>Heroes</h1>
            </div>
        </div>
        <!-- END Page header -->
        <!-- Navbar -->
        <div class="row m-4 border border-dark">
            <div class="col text-center m-2">
               <a href="../index.html" class="btn btn-outline-primary btn-lg">Home</a>
            </div>
           
           <div class="col text-center m-2">
               <a href="../heroes.html" class="btn btn-outline-primary btn-lg">Heroes</a>
           </div>
           
           <div class="col text-center m-2">
               <a href="../superpowers.html" class="btn btn-outline-primary btn-lg">Superpowers</a>
           </div>
           
           <div class="col text-center m-2">
               <a href="../locations.html" class="btn btn-outline-primary btn-lg">Locations</a>
           </div>
           
           <div class="col text-center m-2">
               <a href="../organizations.html" class="btn btn-outline-primary btn-lg">Organizations</a>
           </div>
           
           <div class="col text-center m-2">
               <a href="../sightings.html" class="btn btn-outline-primary btn-lg">Sightings</a>
           </div>           
       </div>
        <!-- END Navbar -->
        <!-- details hero -->
        <div class="row m-4 border border-dark">
            
            <!-- ID -->
            <div class="col-6 text-right"><strong>ID</strong></div>
            <div class="col-6 text-left">
                <span th:text="${hero.id}">display id</span>
            </div>
            <hr>
            <!-- Name -->
            <div class="col-6 text-right"><strong>Name</strong></div>
            <div class="col-6 text-left">
                <span th:text="${hero.name}">display name</span>
            </div>
            <hr>
            <!-- Alignment -->
            <div class="col-6 text-right"><strong>Alignment</strong></div>
            <div class="col-6 text-left">
                <span th:if="${hero.isHero}">Superhero</span>
                <span th:unless="${hero.isHero}">Supervillain</span>
            </div>
            <hr>
            <!-- Description -->
            <div class="col-6 text-right"><strong>Description</strong></div>
            <div class="col-6 text-left">
                <span th:text="${hero.description}">display description</span>
            </div>
            <hr>
            <!-- Superpowers -->
            <div class="col-6 text-right"><strong>Superpowers</strong></div>
            <div class="col-6 text-left">
                <span th:each="superpower : ${hero.superpowers}">
                    <span th:text="${superpower.name}">
                        display superpower</span><br/>
                </span>
            </div>
            <hr>
            <!-- Organizations -->
            <div class="col-6 text-right"><strong>Organizations</strong></div>
            <div class="col-6 text-left">
                <span th:each="organization : ${organizations}">
                    <span th:text="${organization.name}">
                        display organization</span><br/>
                </span>
            </div>
            <hr>
            <!-- Sightings -->
            <div class="col-6 text-right"><strong>Sightings</strong></div>
            <div class="col-6 text-left">
                <span th:each="sighting : ${hero.sightings}">
                    <span th:text="${
                          sighting.location.name
                          + ' ('
                          + sighting.location.latitude
                          + ' , '
                          + sighting.location.longitude
                          + ')'}">
                        display sighting</span><br/>
                </span>
            </div>
            <hr>
        </div>
        <!-- END details hero -->
        <div class="text-center">
            <img
                th:if="${displayImg}"
                th:src="@{${'/images/' + hero.id +'.jpg'}}"
                class="rounded" style="width:auto;height:600px;"/>
        </div>
    </div> 
    <!-- End main body -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
